<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/components/button.css">
    <link rel="stylesheet" href="../assets/fonts/icofont/icofont.min.css">
    <title>Document</title>
</head>

<body>
    <div class="row">
        <label for="">1. Button Main</label>
        <button class="btn btn-main">Button</button>
    </div>
    <div class="row">
        <label for="">2. Button with Icon</label>
        <button class="btn btn-with-icon">
            <div class="btn__with__icon-icon">
                <i class="icofont-ui-add"></i>
            </div>
            <div class="btn__with__icon-text">Button</div>
        </button>
    </div>
    <div class="row">
        <label for="">3. Button Sub</label>
        <button class="btn btn-sub">
            <div class="btn__sub-text">Button</div>
        </button>
    </div>
    <div class="row">
        <label for="">4. Link Button</label>
        <a href="#" class="btn-link">Button</a>
    </div>
    <div class="row">
        <label for="">5. Button Icon</label>
        <button class="btn-icon">
            <div class="btn__icon-icon">
                <i class="icofont-ui-add"></i>
            </div>
        </button>
    </div>
    <div class="row">
        <label for="">6. Combo Button</label>
        <button class="btn btn-combo">
            <div class="btn__combo-icon-add">
                <i class="icofont-ui-add"></i>
            </div>
            <div class="btn__combo-text-add">
                Button
            </div>
            <div class="btn__combo-column">
            </div>
            <div class="btn__combo-icon-more">
                <i class="icofont-rounded-down"></i>
            </div>
        </button>
    </div>
</body>

</html>