@import url(../main.css);
.row {
    margin-top: 15px;
}

.btn {
    height: 36px;
    min-width: 80px;
    border-radius: 4px;
    cursor: pointer;
    font: 500 14px Roboto-Medium;
    background-color: #50B83C;
    color: #FFFFFF;
}

.btn:hover,
.btn:focus {
    background-color: #089740;
}

.btn-main {
    border: unset;
    padding: 0 16px;
}

.btn-with-icon {
    display: flex;
    border: unset;
    align-items: center;
    padding: 0 16px 0 12px;
}

.btn__with__icon-icon {
    height: 20px;
    width: 20px;
    font-size: 16px;
    margin-right: 4px;
    /* background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-repeat: no-repeat;
    background-position: -612px -898px; */
}

.btn__with__icon-text {
    height: 19px;
    width: 41px;
}

.btn-sub {
    display: flex;
    background-color: #FFFFFF;
    border: 1px solid #E6E6E6;
    padding: 0 16px;
    color: #1F1F1F;
    align-items: center;
}

.btn-sub:hover,
.btn-sub:focus {
    background-color: #DFE5E8;
}

.btn__sub-text {
    height: 19px;
    width: 41px;
    margin: 0 2px;
}

.btn-link {
    width: auto;
    height: 36px;
    font: 500 14px Roboto-Medium;
    color: #50B83C;
    text-decoration: none;
}

.btn-icon {
    display: flex;
    width: 40px;
    height: 36px;
    border: unset;
    background-color: rgba(80, 184, 60, 0.1);
    padding: 0 8px;
    align-items: center;
}

.btn__icon-icon {
    height: 20px;
    width: 20px;
    font-size: 16px;
    color: #50B83C;
    margin: 0 2px;
}

.btn-combo {
    display: flex;
    border: unset;
    width: 133px;
    padding: 0 12px;
    align-items: center;
}

.btn__combo-icon-add {
    width: 20px;
    height: 20px;
    font-size: 16px;
    margin-right: 4px;
}

.btn__combo-text-add {
    height: 19px;
    width: 41px;
    padding-right: 16px;
}

.btn__combo-column {
    height: 36px;
    width: 1px;
    background-color: #FFFFFF;
}

.btn__combo-icon-more {
    font-size: 16px;
    padding-left: 12px;
}