@import url(../main.css);
body {
    font: 500 14px Roboto-Medium;
}

.field input {
    background-color: #FFFFFF;
    border: 1px solid #EBEBEB;
    border-radius: 4px;
    margin-top: 8px;
    padding: 0 8px 0 12px;
}

.field label {
    display: flex;
    flex-direction: column;
    color: #1F1F1F;
}

.field-normal {
    height: 36px;
    padding: 0;
}

.field-normal::placeholder {
    font: 400 14px Roboto-Regular;
    color: #9E9E9E;
}